.idea/
target/
*.sass-cache
*.iml
DataAccess/target/
DataRemote/target/
DataSecurity/target/
DataServices/target/
WebHero/target/
WebRest/target/
WebLibSjl/target/
WebLibSjl/build/
WebLibSjl/node_modules/
WebLibSjl/package-lock.json
WebLibScl/target/
WebLibScl/build/
WebLibScl/node_modules/
WebLibScl/package-lock.json